<mat-card class="feed-insert-card" fxLayout="column">
  <!-- <img class="avatar" src="https://www.petmd.com/sites/default/files/salmonella-infection-dogs.jpg" />-->
  <mat-form-field>
    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="5" cdkAutosizeMinRows="5" matInput placeholder="What you are thinking?"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Image link">
  </mat-form-field>
  <div fxLayoutAlign="end">
    <button mat-button color="primary">Rock it!!</button>
  </div>
</mat-card>