@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    background-color: #E9EBEE;
}

.avatar{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    background-size: cover;
}